body {
	margin: 0 auto;
	display: block;
	width: 90%;
	font-size: 1.5em;
}
img {
	height: 400px;
	width: 300px;
	border-radius: 50%;
	border: 1px solid green;
	margin: 0 auto;
	display: block;
}
nav {
	text-align: center;
	margin-top: 10px;
}
section {
  width: 32%;
  margin-right: 1%;
  float: left;
  display: inline-block;
}
details {
  font-style: italic;
}
footer {
	background: #dfe6e0;
	clear: both;
	text-align: center;
}
footer > a {
	margin-right: 10px;
}
